<ul class="sf-menu" id="example">
    <li class="current">
    <a href="#">首&nbsp;页</a>
    </li>
    <li>
    <a href="">知校爱校</a>
    <ul>
        <li><a href="followed.html">学校概况</a></li>
        <li><a href="followed.html">历史沿革</a></li>
        <li><a href="followed.html">历届领导</a></li>
        <li><a href="followed.html">学校校训</a></li>
        <li><a href="followed.html">学校校歌</a></li>
    </ul>
    </li>
    <li>
    <a href="">新闻速递</a>
    <ul>
        <li><a href="/list_type1">校园新闻</a></li>
        <li><a href="followed.html">分会风采</a></li>
        <li><a href="followed.html">同学会掠影</a></li>
        <li><a href="followed.html">公告通知</a></li>
    </ul>
    </li>
    <li>
    <a href="">校友捐赠</a>
    <ul>
        <li><a href="followed.html">管理办法</a></li>
        <li><a href="followed.html">捐赠倡议</a></li>
        <li><a href="followed.html">捐赠方法</a></li>
        <li><a href="followed.html">捐赠统计</a></li>
        <li><a href="followed.html">信息公开</a></li>
    </ul>
    </li>
    <li>
    <a href="">中南星空</a>
    <ul>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
    </ul>
    </li>
    <li>
    <a href="">校友服务</a>
    <ul>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
    </ul>
    </li>
    <li>
    <a href="">校友活动</a>
    <ul>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
    </ul>
    </li>
    <li>
    <a href="">校友课堂</a>
    <ul>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
    </ul>
    </li>
    <li>
    <a href="">校友刊物</a>
    <ul>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
    </ul>
    </li>
    <li>
    <a href="">关于我们</a>
    <ul>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
        <li><a href="followed.html">menu item</a></li>
    </ul>
    </li>
</ul>
