

/*  left area */
#left_area{
  margin: -12px 0 12px 25px;
  float: left;
}

#login{
    width: 240px;
    height: 225px;
    border: 1px solid #cce;
    text-align: center;
    margin-bottom: 25px;
}
#login h3{
    background-color: #E4E4FA;
    border-bottom: 1px solid #cce;
    padding:  5px;
    color: #00f;
}
#login form{
    padding: 5px;
    margin: 5px;
}
input{
    border: 1px solid #816081;
    margin: 10px;
    width: 120px;
    height: 22px;
}
#login .btn{
    /*padding: 7px 12px;
    margin: 9px;*/
    background: url('../img/home/loginBtn.jpg');
    width: 91px;
    height: 32px;
    margin-top: 9px;
    outline: none;
}

/* mid area */
#mid_area{
    width: 380px;
    margin: -12px 0 0 25px;
    float: left;
}
.column_title{
    border-left: 5px solid #00f;
    border-bottom: 1px solid #ace;
}
.column_title h3{
    display: inline-block;
    margin-left: 31px;
    color: blue;
}
.column_title a{
    float: right;
}
.link_date{
    float: right;
}
#news2{
    margin-top: 30px;
}
.news_link li{
    margin: 9px;
    background: url("../img/home/iconfont-yousanjiao.png") no-repeat left center;
    padding-left: 22px;
    font-size: 16px;
    line-height: 18px;
}
.news_link a{
    color: #463F3F;
    /* font-weight: 700; */
}


/* right area */
#right_area{
    float: right;
    margin: -12px 25px 12px 0;
    border-bottom: 1px solid #cce;

}
#notice{
    width: 240px;
    height: 225px;
    border: 1px solid #cce;
    margin-bottom: 25px;
}
#notice .title{
    background-color: #E4E4FA;
    border-bottom: 1px solid #cce;
    padding: 10px;
    color: #00f;
    text-align: center;
}
#notice h3{
    display: inline-block;
}
#notice .more{
    display: inline-block;
    position: relative;
    left: 45px;
    top: 8px;
    /* right: 29px; */
}

/* friend link */
#friend_link{
    height: 26px;
    background: #ace;
    padding-top: 6px;
}
#friend_link .link{
    display: inline-block;
    margin-left: 65px;
    padding-left: 33px;
    background: url("../img/home/iconfont-link.png") no-repeat left center;
}
.select_link{
    display: inline-block;
    width: 145px;
    margin-left: 63px;
    height: 21px;
    background-color: #F0FAFA;
}
