/* subnav */
#subnav{
    width: 300px;
    height: 700px;
    margin: 22px 0 18px 25px;
    float: left;
    background-color: #9292f3;
}
#subnav .title{
    height: 32px;
    background-color: blue;
    color: white;
    padding-left: 22px;
    font-size: 22px;
}
#subnav .computer{
    width: 25px;
    height: 22px;
    vertical-align:middle;
}
#subnav .item{
    text-align: center;
    
    height: 25px;
    padding: 5px;
    font-size: 22px;
    border-bottom: 1px solid #646437;
    width: 240px;
    margin: 0 auto;
}

/* list_type1 */
#list_type1{
    width: 600px;
    height: 700px;
    float: right;
    margin: 22px 25px 18px 0;
}
#list_type1 .title{
    height: 32px;
    background-color: blue;
    color: white;
    padding-left: 22px;
    font-size: 22px;
}
#list_type1 .right{
    float: right;
}
.news_link li{
    background: url(../img/listType/iconfont-fangkuai.png) no-repeat 0px center;
    padding-left: 25px;
    padding-right: 15px;
    line-height: 28px;
    font-size: 19px;
}
.link_date{
    float: right;
}
